* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-self: center;
    margin: 0 auto;
    background-color: rgb(71, 91, 194);
    width: 850px;
    height: 375px;
}

.profilePic {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: rgb(71, 91, 194);
    border: 1px solid black;
}

.pageName, .pageWebsite {
    color: white;
}

.profilePic-info {
    display: flex;
}

.columnNav {
    display: flex;
    align-self: flex-end;
    justify-self: center;
    justify-content: center;
    height: 75px;
    width: 850px;
    background-color: rgb(228, 218, 218);
    border: 1px solid black;
}

.eventButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 40px;
    background-color: rgb(228, 218, 218);
    border-radius: 95%;
}
.headerEvents {
    display: flex;
    justify-self: flex-end;
}