 header {
    width: 850px;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    background-color: rgb(253, 250, 237);
    background: linear-gradient( rgb(153, 0, 255) 90%, rgb(253, 250, 237) 10%);
 }

 .profilePic {
    width: 130px;
    height: 130px;
    margin: 15px;
    border: 1px solid black;
    background-color: rgb(192, 97, 255);
 }

 .profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 }

 .pageName, .pageWebsite {
    color: white;
    margin-bottom: 5px;
 }

 .columnNav {
    display: flex;
    border-bottom: 1px solid blue;
 }

 .columnButton {
    padding: 0px 15px;
    margin-bottom: 3px;
 }

 .headerEvents {
    display: flex;
    margin-bottom: 45px;
    margin-left: 45px;
 }

 .eventButton {
    display: flex; 
    background-color: rgb(253, 250, 237);
    align-content: flex-start;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid rgb(20, 20, 20)
 }

 .eventLike {
    margin-right: 20px;
 }

 main {
    width: 850px;
    height: 1000px;
    margin: auto;
    background-color: rgb(253, 250, 237)
 }

 .columnBody {
     display: flex;
 }

 .columnOne {
    width: 328px;
    height: 950px;
    margin-right: 10px;

 }

 .columnOne-box {
    background-color: rgb(206, 203, 191);
    margin: 2px;
    padding: 2px;
    border: 3px solid rgb(146, 144, 136);
 }

 .columnTwo {
     width: 512px;
     height: 950px;
 }

 .recentPost {
     background-color: rgb(206, 203, 191);
     margin: 2px;
     padding: 2px;
     border: 3px solid rgb(146, 144, 136);
 }